<!--<div class="page">-->
<!--    <div class="form">-->
<!--        <span>Log in</span>-->
<!--        <bear-input-text>Email</bear-input-text>-->
<!--        <bear-input-text>Password</bear-input-text>-->
<!--&lt;!&ndash;        <input type="text">&ndash;&gt;-->
<!--        &lt;!&ndash;        <input [(ngModel)]="email" name="email" autocomplete="off">&ndash;&gt;-->
<!--        &lt;!&ndash;        <input [(ngModel)]="password" name="password" autocomplete="off">&ndash;&gt;-->
<!--        <bear-btn>Login</bear-btn>-->
<!--        &lt;!&ndash;        <span class="btn" (click)="onSubmit()">Log in</span>&ndash;&gt;-->
<!--        &lt;!&ndash;        <span class="btn" (click)="onSignUp()">Sign up</span>&ndash;&gt;-->
<!--    </div>-->
<!--</div>-->

<div class="navbar">
    <bear-btn>Events</bear-btn>
    <bear-btn>Theatres</bear-btn>
    <bear-btn>Concerts</bear-btn>
    <bear-btn>Movies</bear-btn>
    <bear-btn>Sport events</bear-btn>
    <bear-btn >Login</bear-btn>
    <bear-btn>Add</bear-btn>
    <!--    <span class="btn" routerLink="">Events</span>-->
    <!--    <span class="btn">Theatres</span>-->
    <!--    <span class="btn">Concerts</span>-->
    <!--    <span class="btn">Movies</span>-->
    <!--    <span class="btn">Sport events</span>-->
    <!--    <span class="btn" [routerLink]="['login']">Login</span>-->
    <!--    <span class="btn" *ngIf="isOrganizer()" routerLink="add-event">Add</span>-->
</div>



<!--<div class="cont">-->
<!--    <div class="form">-->
<!--        <h1 class="title">PLC Tool Login</h1>-->
<!--&lt;!&ndash;        <mat-form-field appearance="outline" class="projectInfo">&ndash;&gt;-->
<!--&lt;!&ndash;            <mat-label>username</mat-label>&ndash;&gt;-->
<!--            <input   name="username">-->
<!--&lt;!&ndash;        </mat-form-field>&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-form-field appearance="outline" class="projectInfo">&ndash;&gt;-->
<!--&lt;!&ndash;            <mat-label>password</mat-label>&ndash;&gt;-->
<!--            <input  [(ngModel)]="password" name="username" type="password">-->
<!--&lt;!&ndash;        </mat-form-field>&ndash;&gt;-->
<!--        &lt;!&ndash;    <button (click)="onSubmit()">Log in</button>&ndash;&gt;-->
<!--        <bear-btn>Log in</bear-btn>-->
<!--    </div>-->
<!--</div>-->
