<!--<bear-btn [type]="'accent'">Primary</bear-btn>-->
<!--<bear-input-checkbox [type]="'accent'" (checkedStateChange)="inputChecked($event)"></bear-input-checkbox>-->
<!--<bear-input-text type="primary" (textChanged)="textChanged($event)">Munca si talent</bear-input-text>-->


<div class="page">
    <div class="form">
<!--        <span>Log in</span>-->
        blah blah
        <bear-input-text>Email</bear-input-text>
        <bear-input-text>Password</bear-input-text>
        <!--        <input [(ngModel)]="email" name="email" autocomplete="off">-->
        <!--        <input [(ngModel)]="password" name="password" autocomplete="off">-->
        <bear-btn>Login</bear-btn>
        <!--        <span class="btn" (click)="onSubmit()">Log in</span>-->
        <!--        <span class="btn" (click)="onSignUp()">Sign up</span>-->
    </div>
</div>

