<header class="navbar">
    <a [routerLink]="['']" class="homeLink"><h1>Tickets</h1></a>

    <div class="mainMenu">
        <bear-btn>Theatres</bear-btn>
        <bear-btn>Concerts</bear-btn>
        <bear-btn>Movies</bear-btn>
        <bear-btn>Sport events</bear-btn>
    </div>

    <div class="accountMenu">
<!--        <bear-btn  *ngIf="isOrganizer()" routerLink="add-event">Add event</bear-btn>-->
<!--        <bear-btn  *ngIf="isOrganizer()" routerLink="add-stage">Add stage</bear-btn>-->
        <bear-btn *ngIf="isLoggedIn() && isOrganizer()" routerLink="/manage">Manage</bear-btn>
<!--        <bear-btn *ngIf="isLoggedIn() && !isOrganizer()" routerLink="/profile">Profile</bear-btn>-->
        <bear-btn *ngIf="isLoggedIn()">Log out</bear-btn>
        <bear-btn [routerLink]="['login']" *ngIf="!isLoggedIn()">Login</bear-btn>
    </div>

</header>
