<app-header></app-header>

<form class="form">
    <input type="text" [(ngModel)]="theatre.name" name="name">

    <bear-input-text (textChanged)="setEmail($event)">Email</bear-input-text>

<!--    <span class="btn">-->
    <input type="file" (change)="onFileAdded($event)" accept=".doc,.docx,.pdf" multiple class="fileInput">
    <input type="date" >
    <input type="time">

    <select>
        @for(seating of seatings; track seating)
        {
            <option>{{seating.name}}</option>
        }
    </select>
<!--        Add File-->
<!--    </span>-->

    <button (click)="onSubmit()">Add event</button>
</form>
