<app-header></app-header>

<div class="menu">
    <bear-btn type="info" (click)="addRow()">add row</bear-btn>
    <bear-btn type="info" (click)="addColumn()">add column</bear-btn>
    <bear-input-checkbox type="info" (checkedStateChange)="changeZigZag($event)">hellou</bear-input-checkbox>
    <bear-btn type="accent" (click)="addStage()">Add stage</bear-btn>
</div>

<div class="stage">
    <div class="seats">
        @for(x of [].constructor(rows); track x)
        {
            <div class="row" [ngClass]="{'permuted' : $index%2 && zig_zag}">
                @for(x of [].constructor(columns); track x)
                {
                    <span class="seat"></span>
                }
            </div>
        }
    </div>
</div>
